.border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 1200px;
  max-height: 85%;
  border: solid 20px #1db954;
  z-index: 1;
  pointer-events: none;
  /* アニメーション */
  animation: fadeOut 2s linear;
  animation-fill-mode: both;
  /* ---------------------------- */
  /* --- Animation --- */
  /* ---------------------------- */
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
