.textContents {
  text-align: left;
  letter-spacing: 0.5px;
  font-weight: 800;
  @media screen and (max-width: 600px) {
    /*　画面サイズが480pxからはここを読み込む　*/
    padding: 0 10px;
    font-size: 0.8em;
  }
  /* アニメーション */
  animation: fadeIn 1s linear;
  animation-fill-mode: both;
}
/* ---------------------------- */
/* --- Animation --- */
/* ---------------------------- */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
