.textContents {
  width: 780px;
  margin: auto;
  text-align: left;
  /* アニメーション */
  animation: fadeIn 2s linear;
  animation-fill-mode: both;
}
/* ---------------------------- */
/* --- Animation --- */
/* ---------------------------- */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
