.icon_contents {
  width: 780px;
  margin: auto;
  text-align: center;
  .img {
    width: 70px;
    height: 70px;
    padding: 10px;
    &:hover {
      opacity: 0.3;
    }
  }
  .icon {
    padding: 10px;
    font-size: 70px;
    color: #000000;
    &:hover {
      opacity: 0.3;
    }
  }
  /* アニメーション */
  animation: fadeIn 2s linear;
  animation-fill-mode: both;
}
/* ---------------------------- */
/* --- Animation --- */
/* ---------------------------- */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
