.card {
  width: 350px;
  height: 420px;
  margin-bottom: 16px;
  border-radius: 20px;
  box-shadow: 0 0 16px 0 rgb(0 0 0 / 4%);
  .card_content {
    height: 180px;
    color: #707070;
  }
  .card_title {
    text-align: center;
    font-size: 24px;
    margin: 18px 0;
  }

  .card_text {
    padding: 0 40px;
    font-size: 12px;
  }
  img {
    width: 350px;
    height: 240px;
    &:hover {
      opacity: 0.6;
    }
  }
}
