.container {
  width: 780px;
  margin: 10px auto;
  color: #333333;
  .text {
    text-align: left;
  }
  .name {
    font-family: "Oswald", sans-serif;
    color: #333333;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
  /* アニメーション */
  animation: fadeIn 1s linear;
  animation-fill-mode: both;
}
/* ---------------------------- */
/* --- Animation --- */
/* ---------------------------- */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cards {
  display: flex;
  width: 800px;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.scrollBar {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  @media screen and (max-width: 480px) {
    /*　画面サイズが480pxからはここを読み込む　*/
    width: 50%;
  }
}
