@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
body {
  margin: 0;
  font-family: "Oswald", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}

code {
  font-family: "Oswald", "Open Sans", sans-serif;
}
